{% extends 'base.html' %} {% block content %}
<div class="kkn-v1">
  <div class="kkn-grid">
    <div class="kkn-col">
      <div class="kkn-b288d890">
        <div class="kkn-nickname">{{user.first_name}} {{user.last_name}}</div>
        <div class="kkn-text">
          Hello, my name is {{user.first_name}} {{user.last_name}}, I am Web
          Designer & Backend Or Devops
        </div>
        <div class="kkn-block">
          <div class="kkn-buttons">
            <button class="kkn-button-open-modal" id="kkn-modal">
              Download PDF
            </button>
            <button id="call">Call Me Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="kkn-col">
      <div class="kkn-awesome-background">
        <img src="{{user.authenticate_set.first.avatar.url}}" alt="" />
      </div>
    </div>
  </div>
  <div class="kkn-contact-design">
    <img src="{{pro}}" alt="" />
  </div>
  <div class="kkn-experience" id="experience">Experience</div>
  {% for i in experience %}
  <div class="kkn-card-experience">
    <div class="kkn-card-experience-header">
      <div class="kkn-card-experience-headers">
        <div class="kkn-card-img-x">
          <img src="{{i.logo.url}}" alt="" />
        </div>
        <div class="kkn-card-experience-nickname">
          {{i.title}}
          <span class="kkn-card-experience-metadata">{{i.start}}</span>
        </div>
      </div>
    </div>
    <div class="kkn-card-experience-content">
      <p>{{i.description}}</p>
    </div>
  </div>
  {% endfor %}
  <!-- <div class="kkn-experience" id="skill">Skill</div>
  <div class="kkn-nickname-skill">Frontend</div>
  <div class="kkn-card-skills">
    <div class="kkn-card-skill">
      <div class="kkn-card-skill-header">
        <div class="kkn-card-img-x">
          <img src="https://cdn2.hubspot.net/hubfs/3885898/django.png" alt="" />
        </div>
        <span>Django Rest Framework</span>
      </div>
      <div class="kkn-card-skill-content">
        <p>
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs. The passage is attributed to
          an unknown typesetter in the 15th century who is thought to have
          scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
          type specimen book. Lorem ipsum, or lipsum as it is sometimes known,
          is dummy text used in laying out print, graphic or web designs. The
          passage is attributed to an unknown typesetter in the 15th century who
          is thought to have scrambled parts of Cicero's De Finibus Bonorum et
          Malorum for use in a type specimen book.
        </p>
      </div>
    </div>
    <div class="kkn-card-skill">
      <div class="kkn-card-skill-header">
        <div class="kkn-card-img-x">
          <img src="https://cdn2.hubspot.net/hubfs/3885898/django.png" alt="" />
        </div>
        <span>Vue.js</span>
      </div>
      <div class="kkn-card-skill-content">
        <p>
          Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in
          laying out print, graphic or web designs. The passage is attributed to
          an unknown typesetter in the 15th century who is thought to have
          scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
          type specimen book. Lorem ipsum, or lipsum as it is sometimes known,
          is dummy text used in laying out print, graphic or web designs. The
          passage is attributed to an unknown typesetter in the 15th century who
          is thought to have scrambled parts of Cicero's De Finibus Bonorum et
          Malorum for use in a type specimen book.
        </p>
      </div>
    </div>
  </div>
  <div class="kkn-experience" id="expertise">Expertise</div> -->
  <div class="kkn-experience" id="about">About</div>
  <div class="kkn-avatar-x">
    <img
      src="https://scontent.fcgk7-1.fna.fbcdn.net/v/t1.0-9/144401320_1335382613461823_7779761966207978890_o.jpg?_nc_cat=110&ccb=3&_nc_sid=174925&_nc_eui2=AeHggnushkyHcl3sl0keBcHF8PiTOrbfN23w-JM6tt83bXhoyvEz1JYjCByQGg2WjMycNbLYz01-lH1dJsVmPmVM&_nc_ohc=P3S1y9FaSz0AX_XsEdw&_nc_ht=scontent.fcgk7-1.fna&oh=d4ce302400da53deba4e088677d40dbb&oe=606230B2"
      alt=""
      class="kkn-avatar"
    />
  </div>
  <div class="kkn-about">
    <p>
      Hi my name is Kenedi novriansyah, I am the 4th child of 4 siblings,I know
      computers from grade 3 to 2005, because I like playing games on computers
      or playstations,namely game consoles, finally I studied informatics
      engineering at Mercubuana University, Yogyakarta. in 2017,I am an
      optimist, never give up, like to learn new things, like to solve other
      people's problems for coding, can work individually or in a team
    </p>
  </div>
</div>
<div class="kkn-pdf-x">
  <button class="kkn-pdf" id="kkn-modal-download">Download PDF</button>
</div>
<div class="visibility" id="kkn-modal-mtp">
  <div class="kkn-close-modal">
    <button>
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="kkn-modals">
    <div class="kkn-modal-text">
      Please enter the code that is on the one I sent
    </div>
    <div class="kkn-input">
      <input type="text" placeholder="Code" />
    </div>
    <button class="kkn-submit">Submit</button>
  </div>
</div>
<div class="kknd-image-contact">
  <div class="kkns-contact">
    <img
      src="https://pro2-bar-s3-cdn-cf3.myportfolio.com/c8f6e6f0-bc07-485d-b8a0-d77b783c5fba/4dbbfff4-917a-4882-88e8-41884c0dfc37_rw_1920.png?h=b399782068869f0d0eabbc28d46378c3"
      alt=""
    />
  </div>
  <div id="contact_us">
    <div class="kknd-contact-text">Contact Us</div>
    <div class="kkn-contact-content">
      <div class="kkn-contact-x1">
        <img src="{{contact}}" alt="" />
        <div class="kkn-contact-x1-text">
          <div class="kkn-contact-phone-name">Phone</div>
          <div class="kkn-contact-phone">{{user.authenticate_set.first.phone_numbers}}</div>
        </div>
        <button class="kkn-clipboard" id="open_phone">
          <i class="fas fa-clipboard"></i>
        </button>
      </div>
      <div class="kkn-contact-x1">
        <img src="{{email}}" alt="" />
        <div class="kkn-contact-x1-text">
          <div class="kkn-contact-phone-name">Email</div>
          <div class="kkn-contact-phone">{{user.email}}</div>
        </div>
        <button class="kkn-clipboard" id="open_email">
          <i class="fas fa-clipboard"></i>
        </button>
      </div>
      <div class="kkn-contact-x1">
        <img src="{{address}}" alt="" />
        <div class="kkn-contact-x1-text">
          <div class="kkn-contact-phone-name">Address</div>
          <div class="kkn-contact-phone">
            {{user.authenticate_set.first.country.address}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>© 2021 Kenedi Novriansyah | Handsome</footer>
{% endblock content %}
