html,
body {
  margin: 0;
}

.kkn-navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  position: relative;
  z-index: 10;
}

.kkn-navbar-brand {
  display: flex;
  align-items: center;
  user-select: none;
}

.kkn-navbar-brand strong {
  margin-left: 10px;
}

.kkn-navbar img {
  width: 40px;
  height: 40px;
}

.kkn-nav-list a {
  text-decoration: none;
  color: #2d3748;
  margin-right: 10px;
}

.kkn-nav-list-mobile {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .kkn-navbar .kkn-nav-list {
    display: none;
    visibility: hidden;
  }
  .kkn-nav-list-mobile {
    display: block;
    visibility: visible;
  }
  .kkn-nav-list-mobile i {
    font-size: 24px;
  }
}

@media screen and (max-width: 388px) {
  .kkn-navbar {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.kkn-navbar-sidebar {
  z-index: 1000;
  width: 90%;
  border-top-right-radius: 90px;
  height: 120vh;
  background-color: white;
  position: absolute;
  top: 0;
  box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  animation: sidebar-open 2s;
  animation-fill-mode: forwards;
}

.kkn-navbar-sidebar-close {
  width: 90%;
  border-top-right-radius: 90px;
  height: 120vh;
  background-color: white;
  position: absolute;
  top: 0;
  box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  animation: sidebar-close 2s;
  animation-fill-mode: forwards;
}

.kkn-navbar-sidebar .kkn-navbar-sidebar-x,
.kkn-navbar-sidebar-close .kkn-navbar-sidebar-x {
  width: 86%;
  background-color: white;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.kkn-navbar-sidebar .kkn-navbar-sidebar-x i,
.kkn-navbar-sidebar-close .kkn-navbar-sidebar-x i {
  font-size: 60px;
}

.kkn-navbar-sidebar .kkn-nav-list,
.kkn-navbar-sidebar-close .kkn-nav-list {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.kkn-navbar-sidebar .kkn-nav-list a,
.kkn-navbar-sidebar-close .kkn-nav-list a {
  font-size: 20px;
  margin-bottom: 10px;
}

@keyframes sidebar-close {
  from {
    left: 0;
  }
  to {
    left: -1200px;
  }
}

@keyframes sidebar-open {
  from {
    left: -1200px;
    transform: rotate(-120deg);
  }
  to {
    left: 0;
    width: 300px;
  }
}

.visibility {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 332px) {
  @keyframes sidebar-close {
    from {
      left: 0;
    }
    to {
      left: -1200px;
    }
  }

  @keyframes sidebar-open {
    from {
      left: -1200px;
      transform: rotate(-120deg);
    }
    to {
      left: 0;
      width: 96% !important;
    }
  }
}

/* Home */

.kkn-grid {
  display: flex;
  border-color: transparent;
  border-style: solid;
  border-width: 1.8px;
  border-bottom-color: #e0e0e0;
}

.kkn-grid .kkn-col {
  width: 100%;
  height: 460px;
}

.kkn-grid .kkn-col:first-child {
  background-color: white;
  transform: skewX(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  position: relative;
  z-index: 1;
}

.kkn-grid .kkn-awesome-background {
  position: absolute;
  top: 0;
  width: 50%;
  right: 0;
  height: 509px;
}

.kkn-nickname {
  font-size: 60px;
  user-select: none;
}
.kkn-b288d890 {
  position: absolute;
  width: 80%;
  transform: skewX(20deg);
}

.kkn-grid .kkn-col img {
  width: 100%;
  height: 100%;
  margin-top: 34px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 766px) {
  .kkn-grid {
    flex-wrap: wrap;
    border-width: 0;
  }
  .kkn-grid .kkn-col:first-child {
    transform: skewX(0deg);
    height: 300px;
  }
  .kkn-b288d890 {
    position: absolute;
    width: 80%;
    transform: skewX(0deg);
  }
  .kkn-grid .kkn-awesome-background {
    position: relative;
    width: 100%;
    height: 240px;
  }
  .kkn-nickname {
    line-height: 50px;
  }
  .kkn-b288d890 {
    width: 96%;
  }
}

.kkn-block {
  display: block;
  margin-top: 10px;
}

.kkn-buttons button {
  width: 150px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: red;
  color: #fff;
  box-shadow: 0px 10px 42px -14px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -14px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  margin: 2px;
}

.kkn-buttons button:first-child {
  -webkit-box-shadow: 0;
  -moz-box-shadow: 0;
  box-shadow: none;
  background-color: transparent;
  border-color: red;
  border-style: solid;
  color: red;
  border-width: 1px;
}

.kkn-text {
  color: #718096;
  text-transform: capitalize !important;
  user-select: none;
}

@media screen and (max-width: 331px) {
  .kkn-nickname {
    margin-top: 40px;
    font-size: 40px;
    line-height: 34px;
  }
  .kkn-grid .kkn-awesome-background {
    position: relative;
    width: 100%;
    height: 260px;
  }
}

@media screen and (max-width: 324px) {
  .kkn-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .kkn-buttons button {
    width: 96%;
  }
}

.kkn-experience {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 45px;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-bottom-color: red;
  width: 240px;
  user-select: none;
}

.kkn-card-experience {
  width: 90%;
  margin: auto;
  user-select: none;
}

.kkn-card-experience-header {
  display: flex;
  flex-direction: column;
}

.kkn-card-experience-headers {
  display: flex;
  align-items: center;
}

.kkn-card-experience-metadata {
  font-size: 12px;
}

.kkn-card-img-x {
  background-color: #2376c642;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px;
}

.kkn-card-experience-header img {
  width: 30px;
  height: 30px;
}

.kkn-card-experience-header .kkn-card-experience-nickname {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.kkn-card-experience .kkn-card-experience-content {
  word-wrap: break-word;
}

.kkn-card-experience .kkn-card-experience-content p {
  font-size: 14px;
  color: #2d3748;
}

@media screen and (max-width: 766px) {
  .kkn-grid .kkn-col:last-child {
    height: 260px !important;
  }
}

/* .kkn-card-skill {
} */

.kkn-card-skill-header {
  display: flex;
  align-items: center;
}

.kkn-card-skill-header img {
  width: 30px;
  height: 30px;
}

.kkn-card-skill span {
  font-size: 16px;
  margin-left: 5px;
}

.kkn-card-skill-content {
  word-wrap: break-word;
}

.kkn-card-skills {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}

.kkn-card-skills .kkn-card-skill {
  width: 47%;
  background-color: #e0e0e04a;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 832px) {
  .kkn-card-skills {
    flex-wrap: wrap;
    width: 100%;
  }

  .kkn-card-skills .kkn-card-skill {
    margin-top: 6px;
    width: 100%;
  }
}

.kkn-nickname-skill {
  width: 90%;
  margin: auto;
  font-size: 30px;
  color: #2376c6;
}

.kkn-about {
  width: 80%;
  user-select: none;
  margin: auto;
}

.kkn-avatar {
  width: 80%;
  border-radius: 10px;
  height: 600px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  transform: skewX(10deg);
}

.kkn-avatar-x {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 120px;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #757575;
  font-size: 13px;
}

@media screen and (max-width: 540px) {
  .kkn-avatar {
    width: 86%;
    border-radius: 10px;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  .kkn-about {
    width: 98%;
    font-size: 14px;
    word-wrap: break-word;
  }
}

button {
  cursor: pointer !important;
}

.kkn-pdf-x {
  display: flex;
  align-items: center;
  justify-content: center;
}
.kkn-pdf {
  border: none;
  outline: none;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin: auto;
  background-color: transparent;
  border-style: solid;
  border-width: 4px;
  border-color: transparent;
  border-bottom-color: red;
  color: red;
}

.kkn-modal {
  width: 600px;
  height: 260px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 1000;
  box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 10px;
  animation: modals 2s;
  animation-fill-mode: forwards;
}

.kkn-modal-close {
  width: 600px;
  height: 260px;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 1000;
  box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -20px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 10px;
  animation: modals-close 2s;
  animation-fill-mode: forwards;
}

@keyframes modals {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

@keyframes modals-close {
  from {
    top: 100px;
  }
  to {
    top: -1200px;
    position: absolute;
  }
}

.kkn-input {
  background-color: #e0e0e0;
  width: 400px;
  height: 40px;
  margin-bottom: 10px;
  border-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-bottom-color: red;
  margin-top: 6px;
}
.kkn-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
}
.kkn-submit {
  border: none;
  outline: none;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  background-color: red;
  color: white;
}

.kkn-close-modal {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
}

.kkn-close-modal button {
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 10px 42px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 42px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 42px -11px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.kkn-close-modal button i {
  font-size: 30px;
}

.kkn-close-modal button {
  border: none;
  outline: none;
  background-color: transparent;
}

.kkn-modals {
  width: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 656px) {
  .kkn-modal {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .kkn-modal-close {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .kkn-input {
    width: 90%;
  }
}

.kkn-contact-design img {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.kkns-contact img {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
}

.kknd-image-contact {
  position: relative;
  height: 460px;
}

.kknd-contact-text {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  border-bottom-color: red;
  width: 200px;
  user-select: none;
}

.kkn-contact-content {
  padding-left: 40px;
  padding-top: 40px;
}

.kkn-contact-x1 {
  display: flex;
  margin-bottom: 15px;
  user-select: none;
}

.kkn-contact-x1 img {
  width: 40px;
  height: 40px;
}

.kkn-contact-x1-text {
  width: 400px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.kkn-clipboard {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.kkn-clipboard i {
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  .kknd-image-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .kkns-contact img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
  }
}

@media screen and (max-width: 960px) {
  .kkn-contact-x1-text {
    width: auto;
  }
  .kkn-contact-content {
    padding-left: 5px;
  }
}

@media screen and (max-width: 338px) {
.kkn-contact-x1-text {
    font-size: 12px;
  }

  .kkn-clipboard {
    width: 26px;
    height: 26px;
  }
  
  .kkn-clipboard i {
    font-size: 15px;
  }
}
