<div class="kkn-navbar">
  <div class="kkn-navbar-brand">
    <img src="{{logo}}" alt="" />
    <strong>KND-Newbie</strong>
  </div>
  <div class="kkn-nav-list">
    <a href="#" id="reload">Home</a>
    <a href="#experience">Experience</a>
    <!-- <a href="#skill">Skill</a> -->
    <!-- <a href="#expertise">Expertise</a> -->
    <a href="#about">About</a>
    <a href="#contact_us">Contact Us</a>
    <a href="#" class="opens" id="kkn-modal-downloads">Download PDF</a>
  </div>
  <div class="kkn-nav-list-mobile" id="kkn-sidebar-open">
    <i class="fas fa-bars"></i>
  </div>
</div>

<div class="visibility" id="kkn-sidebar">
  <div class="kkn-navbar-sidebar-x">
    <i class="fas fa-times"></i>
  </div>
  <div class="kkn-nav-list">
    <a href="#" id="reload">Home</a>
    <a href="#experience">Experience</a>
    <!-- <a href="">Skill</a> -->
    <!-- <a href="">Expertise</a> -->
    <a href="#about">About</a>
    <a href="#contact_us">Contact Us</a>
    <a href="#" class="opens" id="kkn-modal-downloads">Download PDF</a>
  </div>
</div>
